:host {
  display: block;
  width: 100%;
  height: 100%;
}
#chat-user{
  color: #ffffff;
  background-color: #313539;
  box-shadow: 1px 1px 5px 0px black;
  position: sticky;
}
#chat-user img{
  min-width: 40px;
  max-width: 5%;
  aspect-ratio: 1 / 1;
overflow: hidden;
border-radius: 50%;
}

#messageinput{
  border: 1px solid rgba(72, 72, 95,.8);
  border-radius: 10px;
  padding: 10px;
  font-size: 12px;
}

#messageinput:focus{
  outline: rgb(85, 104, 109) auto 1px;
}
#messages{
  overflow-x: hidden;
  transition: 1s linear;
}
#messages::-webkit-scrollbar{
  width: 10px;
}
#messages::-webkit-scrollbar-thumb{
  background-color: rgba(135, 131, 131,1);
  border-radius: 10px;
  transition: background-color 1s linear;
}

#messages::-webkit-scrollbar-thumb:hover {
  background-color: rgb(107, 103, 103);
}

.inactive-status{
  width: auto;
  left: 30px;
  z-index: 1;
  right: 5px;
  position: absolute;
  background-color:rgb(139, 139, 137);
  width: 10px;
  height: 10px;
  border-radius: 50%;
}
.active{
  background-color:rgb(114, 216, 66);
}

.transparent{
  border: 1px solid rgba(200, 200, 200, .5);
  right: 5px;
  top:5px;
   border-radius:50%

}
.transparent:active{
  outline: 1px solid  rgb(67, 67, 67);
}


