:host {
  display: block;
  padding: 0 5px 0 5px ;
  :hover{
    background-color: rgba(49, 49, 49,.5);
  }
  :hover * {
    pointer-events: none;
  }
}
#previewCard{
  cursor: pointer;
}
img{
  z-index: 0;
  min-width: 40px;
  max-width: 45px;
  min-height: 40px;
  max-height: 45px;
aspect-ratio: 1 / 1;
overflow: hidden;
border-radius: 50%;
}
.inactive-status{
  z-index: 1;
  position: absolute;
  right: 5%;
  top: 3%;
  background-color:rgb(139, 139, 137);
  width: 10px;
  height: 10px;
  border-radius: 50%;
}
.active{
  background-color:rgb(114, 216, 66);
}
.typing {
  width: fit-content;
  font-weight: bold;
  font-family: monospace;
  font-size: 11px;
  clip-path: inset(0 3ch 0 0);
  animation: l4 1s steps(4) infinite;
}
.typing:before {
  color: rgb(42, 173, 55);
  content:"Escribiendo...."
}
@keyframes l4 {to{clip-path: inset(0 -1ch 0 0)}}
.limit{
  display: flex;
  max-width: 250px;
  overflow: hidden;
  display: -webkit-box;
  text-overflow: ellipsis;
}
.limit::after {
  content: "...";
}
.message-container {
  width:17rem;
  white-space: nowrap;
  overflow: hidden;
  margin: 0;
  padding: 0;
}

.text {
  margin: 0;
  text-overflow: ellipsis; /* Muestra puntos suspensivos en el desbordamiento */
  overflow: hidden; /* También especifica overflow: hidden para que text-overflow funcione */
  display: inline-block;
  max-width: 100%;
}
